# =======================================
# 🌐 Entorno Django
# =======================================
DJANGO_ENV=dev
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# =======================================
# 🧩 Base de Datos PostgreSQL
# =======================================
POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=ecommerce_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# =======================================
# 🔒 Seguridad
# (⚠️ No incluyas la SECRET_KEY aquí)
# En producción, definir DJANGO_SECRET_KEY manualmente o vía Render.com
# DJANGO_SECRET_KEY=coloca_tu_clave_secreta_aqui

# =======================================
# 🔗 CORS / API Frontend
# =======================================
CORS_ALLOWED_ORIGINS=http://localhost:3000

# =======================================
# ✉️ Administración / Emails
# =======================================
DJANGO_SERVER_EMAIL=dev@localhost
DJANGO_ADMINS=Dev Admin:dev@localhost
